<h2>
    <%= author.name %>
</h2>
<a href="/authors/<%= author.id %>/edit ">Edit</a>
<%- include("../partials/deleteForm.ejs", {url: `/authors/${author.id}`}) %>

    <% if (booksByAuthor.length> 0) { %>
        <h2>Book By Author</h2>
        <div>
            <% booksByAuthor.forEach(book=> { %>
                <a href="/books/<%= book.id %> "><img src="<%= book.coverImagePath %> " height="150" width="100" alt="">
                </a>
                <% }); %>
        </div>
        <% } %>